<!DOCTYPE HTML>
@model CampusMindManagement.Models.Lead


<div class="form-group">
    <label for="LeadId">Lead Id</label>
    <input type="text" class="form-control" id="LeadId" placeholder="Enter Id">
</div>
<div class="form-group">
    <label for="LeadName">Lead Name</label>
    <input type="text" class="form-control" id="LeadName" placeholder="Lead Name">
</div>
<div class="form-group">
    <label for="techonolgyId">Technology Id</label>
    <input type="text" class="form-control" id="TechonolgyId" placeholder="Techonolgy Id">
</div>
<button type="submit" class="btn btn-primary" id="btnSave">Submit</button>


@Html.ActionLink("Menu", "Index");



@section Scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">

    $(function () {
        $("#btnSave").click(function () {
            var lead = {};
            lead.LeadId = $("#LeadId").val();
            lead.LeadName = $("#LeadName").val();
            lead.technologyId = $("#TechonolgyId").val();

            $.ajax({

                type: "POST",
                url: '@Url.Action("AddLead")',
                data: lead,
                //data: '{techonology: ' + JSON.stringify(techonology) + '}',
                //dataType: "JSON",
                //contentType: "application/json; charset=utf-8",
                success: function () {
                    alert("Data has been added successfully.");

                },
                error: function () {
                    alert("Error while inserting data");
                }

            });

            return false;

        });

    });
    </script>
}